.next-btn {
  display: inline;
  width: 100%;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  margin-top: .5rem;
  border: none;
  background-color: $color-main;
  color: $color-white;
  border-radius: .5rem;
}
